<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>TwitterClone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal-template.css' %}">
    <link rel="stylesheet" href="{% static 'css/account-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-content.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/write-post.css' %}">

    {% block styles %}
    {% endblock %}

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
<section id="page-wrap">
    <header id="main-header">
        {% block navbar %}
        {% endblock %}
    </header>
    <main id="main-main">
        {% block main %}
        {% endblock %}
    </main>
    <aside id="main-aside">
        <aside class="sub-aside">
            {% block aside %}
            {% endblock %}
        </aside>
    </aside>
</section>

<!-- content option switch script -->
<!-- uses class=content-option-wrapper as container for wrapping class=content-option
     buttons with class=content-option-button link different content-options to one another
     with content-option[data-contentnumber]=content-option-button[data-linkto] -->
<script>
    let options = document.getElementsByClassName('content-option-wrapper');
    var sheet = window.document.styleSheets[0];
    sheet.insertRule('.content-option { display: none; }', sheet.cssRules.length);
    sheet.insertRule('.content-option-wrapper .active { display: flex; }', sheet.cssRules.length);
    for (let i = 0; i < options.length; i++) {
        var option = options[i];
        var contents = option.getElementsByClassName('content-option');
        var btns = option.querySelectorAll('[data-linkto]');
        for (let j = 0; j < btns.length; j++) {
            btns[j].addEventListener("click", () => {
                for (let k = 0; k < contents.length; k++) {
                    contents[k].className = contents[k].className.replace(" active", "").replace("active", "")
                }
                for (let k = 0; k < btns.length; k++) {
                    btns[k].className = btns[k].className.replace(" active", "").replace("active", "")
                }
                btns[j].className += ' active'
                var linkto = btns[j].dataset.linkto;
                var target_option = option.querySelector(`[data-contentnumber=${CSS.escape(linkto)}]`);
                target_option.className += ' active'
            })
        }
    }

</script>

<!-- modal script -->
<script>
    let modals = document.getElementsByClassName('modal-wrapper');
    for (let i = 0; i < modals.length; i++) {
        var modal = modals[i];
        var btn_open = modals[i].getElementsByClassName('modal-open')[0];
        var btn_close = modals[i].getElementsByClassName('modal-close')[0];
        var modal_content = modals[i].getElementsByClassName('modal-content')[0];
        var modal_block = modals[i].getElementsByClassName('modal-block')[0];
        btn_open.addEventListener("click", (event) => {
            var modal_content = event.target.closest('.modal-wrapper').getElementsByClassName('modal-content')[0];
            modal_content.showModal();
        })
        btn_close.addEventListener("click", (event) => {
            var modal_content = event.target.closest('.modal-content');
            modal_content.close();
        })
        modal_block.addEventListener("click", (event) =>
            event.stopPropagation());

        window.onclick = function (event) {
            if (event.target.classList.contains('modal-content')) {
                event.target.close();
            }
        }
    }

</script>

<script>
    $('.insideLink').click(function (event) {
        event.stopPropagation();
    });
</script>

<!-- script for processing likes -->

<script>
    var elements = document.getElementsByClassName("like");
    var likeSwitch = function () {
        var attribute = this.id;
        var x = document.getElementById(attribute);
        var y = x.children;
        for (let i = 0; i < y.length - 1; i++) {
            if (y[i].classList.contains('active')) {
                y[i].className = y[i].className.replace(' active', '').replace('active', '')
                if (y[i].id.includes('up-')) {
                    y[2].textContent = Number(y[2].textContent) - 1;
                } else {
                    y[2].textContent = Number(y[2].textContent) + 1;
                }
            } else {
                y[i].className += ' active'
            }
        }
    };

    for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener('click', likeSwitch, false);
    }
</script>

<script>
    $(".like").click(function () {
        console.log('like')
        $.post("{% url 'posts:like_post' %}",
            {
                post_like: this.value,
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
        )
    });
</script>

<!-- script for fading animation while page load: IN PROGRESS -->
<script>
    $(document).ready(function () {
        $("body").fadeIn("fast");
    });
</script>

{% block endpage %}
{% endblock %}
</body>
</html>