<div class="detail-post-wrapper">
    <div class="detail-post-header">
        <a class="btn-1" href="{% url 'user_main_page' %}">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
        <span>Thread</span>
    </div>
    <div class="detail-post-section">
        <div class="detail-post-user">
            <div class="detail-post-user-info">
                <img class="profile-image" style="width: 46px; height: 46px; background-color: red">
                <div class="detail-post-user-name">
                    <h1>{{ object.user_id.username }}</h1>
                    <p>@{{ object.user_id.username }}</p>
                </div>
            </div>
            <a class="btn-1">
                <ion-icon name="cog-outline"></ion-icon>
            </a>
        </div>
        <div class="detail-post-content">
            <p>{{ object.content }}</p>
        </div>
        <div class="detail-post-media">
        </div>
        <div class="detail-post-social-1">
        <span>
            {{ object.post_date }}
        </span>
            <span>
            views
        </span>
        </div>
        <div class="detail-post-social-2">
        <span>
            {{ object.shares }} Retweets
        </span>
            <span>
            {{ object.comments }} Comments
        </span>
            <span>
            {{ object.likes }} Likes
        </span>
        </div>
        <div class="detail-post-social-3">
            {% include 'user-main/post-components/social-bar.html' %}
        </div>
    </div>
    <div class="detail-comment-setion">
        {% for post_pre in commentstable_set %}
            {% with post=post_pre.child_id %}
                {% include 'user-main/user-post.html' %}
            {% endwith %}
        {% endfor %}
    </div>
</div>