{% extends 'navbar/navbars/navbar-template.html' %}

{% block navbar-content %}
    {% include '../navbar-content/logo.html' %}
    {% include '../navbar-content/home.html' %}
    {% include '../navbar-content/search.html' %}
    {% include '../navbar-content/notifications.html' %}
    {% include '../navbar-content/messages.html' %}
    {% include '../navbar-content/bookmarks.html' %}
    {% include '../navbar-content/profile.html' %}
    {% include '../navbar-content/write.html' %}
    {% include '../navbar-content/logout.html' %}
{% endblock %}

