<section class="user-profile-wrapper">
    <div style="background-image: url('/media/{{ profile.profile_banner }}')" class="profile-banner">
        <div style="background-image: url('/media/{{ profile.profile_image }}')" class="user-profile-image">
        </div>
    </div>


    <div class="user-profile-info-wrapper">
        <div class="profile-social-1">
            {% if user.id != request.user.id and request.user.is_authenticated %}
                <button class="notify element-switch btn-1">
                    {% if not notfied %}
                        <ion-icon name="notifications-outline" class="active"></ion-icon>
                        <ion-icon name="notifications-off-outline" class=""></ion-icon>
                    {% else %}
                        <ion-icon name="notifications-outline" class=""></ion-icon>
                        <ion-icon name="notifications-off-outline" class="active"></ion-icon>
                    {% endif %}
                </button>
                <button value="{{ user.id }}" class="follow-btn element-switch">
                    {% if not followed %}
                        <span class="follow-span active">Follow</span>
                        <span class="unfollow-span">Unfollow</span>
                    {% else %}
                        <span class="follow-span">Follow</span>
                        <span class="unfollow-span active">Unfollow</span>
                    {% endif %}
                </button>
            {% endif %}
        </div>
        <div class="profile-username">
            <h1>{{ user.username }}</h1>
            <h3>@{{ user.username }}</h3>
        </div>
        <div class="profile-bio">
            <p>{{ profile.profile_bio }}</p>
        </div>
        <div class="profile-social-2">
            {% if profile.url is not None %}
                <a>Website {{ profile.profile_url }}</a>
            {% endif %}
            <time>Joined {{ user.date_joined }}</time>
        </div>
        <div class="profile-social-3">
            <p><span>{{ profile.profile_following }}</span> Following{{ profile.profile_following|pluralize:",s" }}</p>
            <p><span>{{ profile.profile_followers }}</span> Follower{{ profile.profile_followers|pluralize:",s" }}</p>

        </div>
    </div>


</section>