{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user-mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'navbar/navbars/user-navbar.html' %}
{% endblock %}

{% block main %}

{% endblock %}


{% block endpage %}
    <script>
        var textarea = document.getElementById("user-write-textarea");
        var heightLimit = 200; /* Maximum height: 200px */

        textarea.oninput = function () {
            textarea.style.height = ""; /* Reset the height*/
            textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
        };
    </script>

    <script>
        $(".like").click(function () {
            $.post("{% url 'posts:like_post' %}",
                {
                    post_like: this.value,
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
            )
        });
    </script>


{% endblock %}